.mainTitle{
    font-size: 18pt;
    color: rgb(84, 146, 207);
    margin-bottom: 15px;
}
.description{
    font-size: 11pt;
    margin-right: 10px;
    width: 450px;
}
.imageContainer{
    width: 700px;
    height: 120px;
}
.leftItem{
    float: left;
    padding-top: 20px;
    margin-top: 30px;
}
.rightItem{
    float: right;
}
.split{
    height: 5px;
    width: 700px;
    background-color:rgb(61, 196, 255)
}
.table{
    border-collapse: collapse;
    width:700px;
}
.table td{
    text-align: left;
}
.table th{
    width: 80px;
    color: white;
    background-color:rgb(96, 108, 120);
    font-weight: 400;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 2px;
    text-align: center;
}
.table tr{
    height: 70px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(223,226,228);
}
.tableHeader {
    height: 30px!important;
}
.status{
    width: 150px!important;
}
.name{
    font-weight: 600;
}
.id{
    color: grey;
}
.div1{
    background-color: rgb(236,248,206);
    height:50px;
    text-align: center;
    line-height: 50px;
    width: 100%
}
.div2{
    background-color: rgb(255,243,212);
    height:50px;
    text-align: center;
    line-height: 50px;
    width: 100%
}
.div3{
    background-color: rgb(247,211,214);
    height:50px;
    text-align: center;
    line-height: 50px;
    width: 100%
}