.header{
    display: flex;
    width: 700px;
}
.lineContainer{
    margin-bottom: 15px;
    display: flex;
    width: 400px;
}
.buttonContainer{
    width: 100%;
    text-align: right;
}
.imageContainer{
    width: 400px;
    height: 120px;
}
.input{
    width: 300px!important;
}
.title{
    font-size: 16pt;
    width: 455px!important;
    font-weight:bold!important;
    margin-bottom: 30px;
}
.narrowTitle{
    font-size: 11pt;
    width: 100px!important;
}
.description{
    font-size: 11pt;
    width: 400px;
}
.mainTitle{
    font-size: 18pt;
    color: rgb(1, 144, 200);
    margin-bottom: 10px;
}
.button{
    color: white!important;
    background-color: rgb(135, 177, 7)!important;
    margin-top:5px;
    margin-right: 10px;
}
.datePicker{
    width: 240px!important;
}
.leftItem{
    float: left;
    padding-top: 20px;
}
.rightItem{
    float: right;
}
.mainContent{
    width: 400px;
}
.table{
    width: 600px;
}

.deleteButton{
    padding-left: 5px;
}