<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataModel.Properties.Settings.JinHaiConnectionString"
            connectionString="Data Source=icemile;Initial Catalog=JinHai;User ID=sa;Password=100200"
            providerName="System.Data.SqlClient" />
        <add name="DataModel.Properties.Settings.JinHaiConnectionString1"
            connectionString="Data Source=192.168.50.81;Initial Catalog=JinHai;User ID=sa;Password=chaint"
            providerName="System.Data.SqlClient" />
        <add name="DataModel.Properties.Settings.JinGuiConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=JinGui;User ID=sa;Password=100200"
            providerName="System.Data.SqlClient" />
        <add name="DataModel.Properties.Settings.JSBoHuiConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=JSBoHui;Persist Security Info=True;User ID=sa;Password=100200"
            providerName="System.Data.SqlClient" />
        <add name="DataModel.Properties.Settings.CTWMSConnectionString"
            connectionString="Data Source=.;Initial Catalog=CTWMS;Persist Security Info=True;User ID=SA;Password=chaint"
            providerName="System.Data.SqlClient" />
        <add name="DataModel.Properties.Settings.WHDB24ConnectionString"
            connectionString="Data Source=.;Initial Catalog=WHDB24;User ID=sa;Password=chaint"
            providerName="System.Data.SqlClient" />
        <add name="DataModel.Properties.Settings.SunPaperConnectionString"
            connectionString="Data Source=.;Initial Catalog=SunPaper;User ID=sa;Password=chaint"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
