
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        @{ 
            MVCTest.Models.Employee emp = (MVCTest.Models.Employee)ViewData["Employee"];
        }
        <b>Employee Detail</b><br/>
        FirstName:@emp.FirstName<br/>
        LastName:@emp.LastName
        @if (emp.salary > 10000)
        {
            <span style="background-color:yellow">Salary : @emp.salary</span>
        }
        else
        {
            <span style="background-color:white">Salary : @emp.salary</span>
        }
    </div>
</body>
</html>
